.titulodetail {
    color:#66fcf1 ;
    margin-top: 10px;
    font-size: 50px;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.btn5 {
    margin-top: 7px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: #1d63b4;
    height: 48px;
}
.btn5:hover{
    background-color: #24afe6;
}

.div{
    border-radius: 15px;
    max-width: 90%;
    max-height: 40%;
    margin-left: 5%;
    background: rgba (255, 255, 255, .2);
    box-shadow: 0 5px 15px rgba(0,0,0,.7);
    background-color:rgba(65, 54, 54, 0.938);
    
}
.div h3{
    border-radius: 5px;
    display: inline-block;
    max-width:90%;
    text-align: justify;
    color:#68aef0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: 5px;
}
.div h4{
    border-radius: 5px;
    max-width:60%;
    text-align: justify;
    display: inline-block;  
    margin: 10px;
    color:#a1eed7;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.div img{
  max-width: 50%;
  max-height: 50%;
  border-radius: 5px;
}
.detalles{
    background-color: none;
}

.btn2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 13px;
    width: 80px;
    height: 30px;
    background-color: #8d3014 ;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: .3s ease all;
    margin: 5px;
}
.btn2:hover{
    background-color:#24afe6;
}