.spinner{
    border: 4px solid rgba(20, 8, 131, 0.315);
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    border-left-color: transparent;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.container {
    width: 40px;
    margin: 70px auto;
}

.dot{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
}

.dot1{
    background-color: #bae8e8;
    animation: jump-up 0.6s 0.1s linear infinite;
}
.dot2{
    background-color: #ffd64a;
    animation: jump-up 0.6s 0.2s linear infinite;
}
.dot3{
    background-color: #8abebe;
    animation: jump-up 0.6s 0.3s linear infinite;
}

@keyframes jump-up {
    50% {
        transform: translate(0,15px);
    }
}