.containerCard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 80px;
}

.tituloHome {
    color:#1df3a4 ;
    margin-top: 10px;
    font-size: 40px;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-right: 200px;
}

.btn {
    margin-top: 25px;
    margin-left: 450px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 17px;
    color: #adacac ;
    width: 110px;
    height: 40px;
    background-color: #0b412c ;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: .3s ease all;
    box-shadow: 0 5px 15px rgba(0,0,0,1);
}
.btn:hover{
    background-color:#00ce7f;
}

label{
    align-self: center;
    background-color:#90ffd4 ;
    font-size: 12px;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    border-radius: 5px;
}
.contenedorFiltros  {
    width: 100%;
    align-content: center;
}

.puntuacion {
    grid-column: 2;
    grid-row: 1;
}
.lbpuntuacion{
    margin-left:120px
}
.alfabeticamente {
    grid-column: 1 ;
    grid-row: 1;
}   
.recetas {
    grid-column: 3 ;
    grid-row: 1;
}
.puntuacion label, .alfabeticamente label, .recetas label{
    width: 120px;
}
.puntuacion select, .alfabeticamente select, .recetas select{
    margin-left: 25px;
}