.titulo{
    color:#272343 ;
    margin-top: 35px;
    font-size: 50px;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.btn2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 13px;
    color: #66fcf1 ;
    width: 80px;
    height: 30px;
    background-color: #4b7c88 ;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: .3s ease all;
    margin: 5px;
}
.btn2:hover{
    background-color:#24afe6;
}

.form{
    max-width: 600px;
    border-radius: 15px;
    background: #044858;
    box-shadow: 0 5px 15px rgb(13, 128, 194);
    margin-top: 5px;
}
.form label{
    background-color: #5e6e72;
    border-radius: 5px;
    display: inline-block;
    color: rgb(253, 254, 255);
    width: 150px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-transform: capitalize;
    margin: 5px;
}
.form input{
    display: inline-block;
    width: 150px;
    margin: 5px;
    
}
.form textarea {
    margin-top: 5px;
    margin-left: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 12px;
    border: none;
    background-color: #b7c3e4;
    border-radius: 10px;
    margin-right: 5px;
}
.container{
    align-items: center;
    display: flex;
    justify-content: center;
}

.danger {
    color: red;
}