.btn1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 12px;
    color: #272343;
    width: 90px;
    height: 30px;
    background-color: #ffd803;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    transition: .3s ease all;
    margin-left: 5px;
    box-shadow: 0 5px 15px rgba(1, 7, 8, 0.925);
}
.btn1:hover {
    background: #f09204;
}
.searchInput {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 14px;
    border: none;
    background-color: #ffd803;
    border-radius: 10px;
    padding: 5px;
    margin: 20px;
    width: 300px;
}