.btn1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 12px;
    color: #d0d8c6;
    width: 90px;
    height: 30px;
    background-color: #0b412c;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    transition: .3s ease all;
    margin-left: 5px;
    box-shadow: 0 5px 15px rgb(0, 0, 0);
}
.btn1:hover {
    background: #069e64;
}
input {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 12px;
    border: none;
    background-color: #83f7ca;
    border-radius: 10px;
    padding: 5px;
    margin: 20px;
    width: 300px;
}