.paginado {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.buttonPaginado {
  background-color: #ffd803;
  border-radius: 999px;
  border: #140402;
  color: rgb(0, 0, 0);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  padding: 5px;
  box-shadow: 0 5px 15px rgb(247, 245, 244);
}

.buttonPaginado:hover {
  background-color: #f58223;
  cursor:pointer
}

.buttonPaginado:visited,
.buttonPaginado:active {

  background-color: #eba63f;
}

.buttonPaginado:focus {
  background-color: #ebab4d;
  cursor: pointer;
}

#borderActualPage {
  border: 4px solid rgba(17, 8, 1, 0.8);
}